.containResultBox {
  background: #FF7101;
  color: white;
  justify-content: right;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px;
  /* frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 16px 24px 16px 16px;
gap: 10px;
isolation: isolate;

width: 254px;
height: 142px;

/* gr3 */
background: linear-gradient(270deg, #F56E86 0%, #F53E5E 100%);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}
